<div class="container">
<div class="main_about_area">
    <div class="row">
        <div class="col-sm-4">
            <div class="single_about_left"><img src="../images/team.png" height="294px" width="292px" />
                <div class="single_about_left_text">
                    <h4 align="JUSTIFY">L&apos;amour des animaux, et plus particuli&egrave;rment des chiens, nous relie pour essayer de leur apporter modestement notre aide.</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-push-1">
            <div class="single_about">
                <div class="column" style="width:100%;">
                    <div class="column-content">
                        <div class="clearfix">Une truffe et des pattes est une association de loi 1901 - ref
                            <p><b>W563005925.</b></p>
                            <p>L&apos;association a &eacute;t&eacute; cr&eacute;&eacute;e par des&nbsp;passionn&eacute;s partageant les m&ecirc;mes valeurs : le&nbsp;respect des animaux et des personnes.</p>
                            <p>Nous souhaitons oeuvrer pour :&nbsp;</p>
                            <ul>
                                <li>le sauvetage et la mise sous protection de chiens de tout type et de toute race se trouvant dans une situation de d&eacute;tresse et/ou de danger (maltraitance, abandon, absence de soin, errance, utilisation &agrave;
                                    des fins lucratives non autoris&eacute;e par la loi ou le r&egrave;glement)</li>
                                <li>la mise &agrave; l&rsquo;aboution des animaux qui sont sauv&eacute;s et/ou qui lui ont &eacute;t&eacute; confi&eacute;s</li>
                                <li>l&rsquo;aide par tout moyen (financier, humain, mat&eacute;riel, psychologique) de particulier &agrave; maintenir leur animal dans leur cadre de vie d&rsquo;origine.</li>
                                <li>Il est possible que, dans des cas particuliers, d&apos;autres type d&apos;animaux (chats, animaux de ferme, chevaux, rongeurs...) soient aussi prot&eacute;g&eacute;s et pris en charge par l&apos;association.</li>
                            </ul>
                        </div>
                    </div>
                </div><a class="btn" href="contact">Nous contacter</a></div>
        </div>
    </div>
</div>
<!-- End of col-sm-12-->
<div class="row-content">
    <div class="row">
        <div class="column" style="width:50%;">
            <div class="column-content">
                <div class="clearfix"></div>
                <p>&nbsp;</p>
                <!-- lien des statuts sur sur le site actuel, possibilité de passer par ../assets/statuts/statut-truffe-et-pattes.pdf-->
                <p><img alt="Statut truffe et pattes" src="http://truffeetpattes.e-monsite.com/medias/static/fileicon/pdf.png" width="16" height="16" /><a href="http://truffeetpattes.e-monsite.com/medias/files/statut-truffe-et-pattes.pdf" title="Statut truffe et pattes"> Statuts de l'association Une truffe et des pattes</a>                            (93.11 Ko)</p>
            </div>
        </div>
    </div>
</div></div>
<!-- End of row-->
<!-- End of Container-->
<!-- End of about Section-->