<section class="work sections" id="work">
    <div class="container">
        <div class="row">
            <div class="main_mix_content text-center margin-top-30">
                <a href="/vets" class="btn btn-default">Vétérinaires</a>
                <a href="/dogsAdmin" class="btn btn-default">Gestion des chiens</a>
                <a href="/faAdmin" class="btn btn-default">Familles d'acceuil</a>
                <a href="/adoptantsAdmin" class="btn btn-default">Adoptants</a>
                <a href="/persons" class="btn btn-default">Membres</a>
                <a href="/persons" class="btn btn-default">Donateurs</a>
                <a href="/persons" class="btn btn-default">Adhérents</a>
                <a href="" class="btn btn-default">Attribution des rôles</a>
            </div>
        </div>
    </div>
</section>