
<!-- End of header-->
<section class="aboutus margin-top-120" id="aboutus" style="text-align: center;">
    <h3>En mémoire de nos truffes disparues nous vous invitons à consulter cet album</h3><br>
    <div class="container" style="text-align: center;">
        <div class="row" style="text-align: center;">
        <div class="col-md-4" >

                                    <img alt="Abricot 2" src="http://truffeetpattes.e-monsite.com/medias/images/image-d-abricot-sur-le-site.jpg"><br><br><br><br>

                                    <img alt="Abricot" src="http://truffeetpattes.e-monsite.com/medias/images/abricot.jpg"><br><br><br><br>

                                    <img alt="Alphonse" src="http://truffeetpattes.e-monsite.com/medias/images/alphonse.jpg"><br><br><br><br>
            <img alt="Astuce" src="http://truffeetpattes.e-monsite.com/medias/images/astuce.jpg"><br><br><br><br>

            <img alt="Vicky" src="http://truffeetpattes.e-monsite.com/medias/images/vicky.jpg"><br><br><br><br>
        </div>

            <div class="col-md-4" >



                                    <img alt="Miel" src="http://truffeetpattes.e-monsite.com/medias/images/miel-1.jpg"><br><br><br><br>

                                    <img alt="Fivi" src="http://truffeetpattes.e-monsite.com/medias/images/fivi.jpg"><br><br><br><br>

                                    <img alt="Askar" src="http://truffeetpattes.e-monsite.com/medias/images/askar-1.jpg"><br><br><br><br>
                <img alt="Junior" src="http://truffeetpattes.e-monsite.com/medias/images/junior-1.jpg"><br><br><br><br>

                <img alt="Triskel" src="http://truffeetpattes.e-monsite.com/medias/images/triskel-1.jpg">
        </div>
            <div class="col-md-4" >




                                    <img alt="Ulla" src="http://truffeetpattes.e-monsite.com/medias/images/ulla-1.jpg"><br><br><br><br>

                                    <img alt="Floppy" src="http://truffeetpattes.e-monsite.com/medias/images/floppy-3.jpg"><br><br><br><br>


                                        <img alt="Bazile" src="http://truffeetpattes.e-monsite.com/medias/images/bazile.jpg"><br><br><br><br>

                                    <p style="text-align: center;"><a href="http://truffeetpattes.e-monsite.com/pages/toutes-nos-truffes/les-sauvetages-en-cours/leyli-bis.html"><span style="color:#800080;"><strong>Son histoire</strong></span></a></p>

                <br><br><br><br>               <p style="text-align: center;"><img width="300" height="239" alt="Leyli" src="http://truffeetpattes.e-monsite.com/medias/images/leyli-1.jpg"></p>


                <br><br><br><br>       <img alt="Dandy" src="http://truffeetpattes.e-monsite.com/medias/images/dandy.jpg">

            </div>
</div>
        </div>
    </div>
</section>