
<!-- End of header-->
<section style="margin-top: 50px;">
    <h3 style="text-align: center;">En mémoire de nos truffes disparues nous vous invitons à consulter cet album</h3><br>
    <br> <div class="container" style="text-align: center;">
        <div class="row">
        <div class="col-md-4" >

                                    <img height="200px" alt="Abricot 2" src="http://truffeetpattes.e-monsite.com/medias/images/image-d-abricot-sur-le-site.jpg"><br><br><br><br>

                                    <img height="200px" alt="Abricot" src="http://truffeetpattes.e-monsite.com/medias/images/abricot.jpg"><br><br><br><br>

                                    <img height="200px" alt="Alphonse" src="http://truffeetpattes.e-monsite.com/medias/images/alphonse.jpg"><br><br><br><br>
            <img height="200px" alt="Astuce" src="http://truffeetpattes.e-monsite.com/medias/images/astuce.jpg"><br><br><br><br>

            <img height="200px" alt="Vicky" src="http://truffeetpattes.e-monsite.com/medias/images/vicky.jpg"><br><br><br><br>
        </div>

            <div class="col-md-4" >




                                    <img height="200px" alt="Fivi" src="http://truffeetpattes.e-monsite.com/medias/images/fivi.jpg"><br><br><br><br>

                                    <img height="200px" alt="Askar" src="http://truffeetpattes.e-monsite.com/medias/images/askar-1.jpg"><br><br><br><br>
                <img height="200px" alt="Junior" src="http://truffeetpattes.e-monsite.com/medias/images/junior-1.jpg"><br><br><br><br>
                <img height="200px" alt="Ulla" src="http://truffeetpattes.e-monsite.com/medias/images/ulla-1.jpg"><br><br><br><br>

                <img height="200px" alt="Triskel" src="http://truffeetpattes.e-monsite.com/medias/images/triskel-1.jpg">
        </div>
            <div class="col-md-4" >






                                    <img height="200px" alt="Floppy" src="http://truffeetpattes.e-monsite.com/medias/images/floppy-3.jpg"><br><br><br><br>


                                        <img height="200px" alt="Bazile" src="http://truffeetpattes.e-monsite.com/medias/images/bazile.jpg">



                <br><br><br><br>               <p><img width="251" height="200" alt="Leyli" src="http://truffeetpattes.e-monsite.com/medias/images/leyli-1.jpg"></p>


                <br><br><br>       <img height="200px" alt="Dandy" src="http://truffeetpattes.e-monsite.com/medias/images/dandy.jpg"><br><br><br><br>

                <img height="200px" alt="Miel" src="http://truffeetpattes.e-monsite.com/medias/images/miel-1.jpg">

            </div>
</div>
        </div>
   
</section>