<br><br>
<div class="container">

    <div class="col-md-8">
        <img src="/images/contact.png">
    </div>
<div class="col-md-4">

    <form action="/contact" method="post" >

        <input type="text" id="contactName" name="contactName" placeholder="&#9786; Nom complet" required/>

        <input type="email" id="email" name="email" placeholder="&#64; Adresse mail" required/>

        <textarea id="message" name="message" placeholder="&#35; Vos commentaires" style="height:200px" required></textarea>

        <input style="background-color: darkmagenta" class="btn" type="submit" value="ENVOYER LE MESSAGE"/>

    </form>
</div>

    </div><br><br>
