<!-- translate from html with https://pughtml.com/, god bless this website-->
<!-- About Section-->
<div class="container">
    <div class="col-sm-12">
        <div class="main_about_area">
            <div class="row">
                <div class="col-sm-4">
                    <div class="signle_about_left"><img src="images/oscar-fiche-1.jpg" width="292" /></div>
                </div>
                <div class="col-sm-6 col-sm-push-1">
                    <div class="single_about">
                        <div class="separator2"></div>
                        <div class="column" style="width:100%;">
                            <div class="column-content">
                                <div class="clearfix">
                                    <div>
                                        <table class="table">
                                            <tr>
                                                <th>Nom</th>
                                                <td>Oscar</td>
                                            </tr>
                                            <tr>
                                                <th>Race</th>
                                                <td>X pinscher</td>
                                            </tr>
                                            <tr>
                                                <th>Genre</th>
                                                <td>M&acirc;le</td>
                                            </tr>
                                            <tr>
                                                <th>Couleur</th>
                                                <td>Fauve</td>
                                            </tr>
                                            <tr>
                                                <th>Age</th>
                                                <td>N&eacute; le 20 janvier 2019</td>
                                            </tr>
                                            <tr>
                                                <th>Sociabilit&eacute;</th>
                                                <td>Ok tout</td>
                                            </tr>
                                            <tr>
                                                <th>Frais d&apos;adoption</th>
                                                <td>190 euros + ch&egrave;que de caution de 300 euros qui sera d&eacute;truit &agrave; la st&eacute;rilisation</td>
                                            </tr>
                                            <tr>
                                                <th>Autre</th>
                                                <td>Vaccin&eacute; , puc&eacute;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><a class="btn btn-default" href="">Adopter</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of col-sm-12-->
</div>
<!-- End of Container-->
<!-- End of about Section-->