
<!-- End of header-->
<section>
    <div class="container">
    <div class="col-md-12">
      <p><img width="600" height="503" alt="Logo bonne fee" src="http://truffeetpattes.e-monsite.com/medias/images/logo-bonne-fee.png?fx=r_600_503"></p>


                            <h2>Etre une bonne fée c’est quoi&nbsp;?</h2>

                            <p>C’est soutenir un loulou abandonné,&nbsp; maltraité, dans le besoin. Si vous êtes touchés par une truffe en détresse, vous souhaitez agir mais ne pouvez pas l’adopter, vous pouvez cependant lui apporter une aide précieuse.</p>

                            <p>Si vous décidez de devenir une bonne fée d'une ou plusieurs de nos truffes, vous recevrez un petit résumé de son histoire, vous serez mis au courant de ses progrès et vous recevrez des photos.<br>
                                Vous pourrez ainsi suivre votre petit protégé&nbsp;!</p>

                            <p><a href="http://truffeetpattes.e-monsite.com/pages/toutes-nos-truffes/truffes-a-proteger/"></a></p>

                            <p>&nbsp;</p>

                            <p>&nbsp;</p>


                            <h2>Comment devenir la bonne fée d’une truffe&nbsp;?</h2>

                            <p>Il n’y a aucun engagement contractuel pour être une bonne fée, c’est un engagement du cœur, vous pouvez vous désister quand vous le souhaitez, nous vous demandons simplement de nous en informer.</p>

                            <p>Nous n’imposons pas de somme fixe, vous faites comme vous le souhaitez, et à votre rythme, notre but est de pouvoir faire tous ensemble de notre mieux pour leur donner enfin une vie digne de ce nom. Tous les dons sont les bienvenus.&nbsp;</p>

                            <p>&nbsp;</p>

                            <h2>Pourquoi ?</h2>

                            <p>Lorsque nous prenons un loulou sous notre aile, il a souvent été délaissé et n’a reçu aucun soin pendant un certain laps de temps, nos premières actions sont donc&nbsp;:</p>

                            <ul>
                                <li>1 bilan vétérinaire</li>
                                <li>Les soins appropriés (vaccins, traitements pour otites, conjonctivites, eczéma…)</li>
                                <li>Eventuellement toilettage (selon l’état du chien)</li>
                                <li>Actes chirurgicaux dans les cas les plus graves</li>
                                <li>Stérilisation</li>
                            </ul>

                            <p>Ces actions ont un coût quelques fois important pour une association vivant uniquement de dons.</p>

                            <p>Pour nous aider à les soigner le mieux possible et à en sauver encore plus, nous aurions besoin de personnes qui nous aiderons selon leur moyen à participer aux frais médicaux et à nous aider à partager pour que son adoption soit la plus rapide possible ou à les rendre heureux pour leurs dernières années et leur faire oublier leurs misères.</p>



                            <h2>Quelles truffes aider?</h2>

                            <p>Les loulous totalement délaissés : ils ont souvent été négligés et ont besoin d’un bilan vétérinaire complet, de soins appropriés, et de toilettage</p>

                            <p>Votre aide&nbsp;:</p>

                            <ul>
                                <li>Ces loulous sont en FA et vous contribuerez à les remettre sur pattes en participant à votre rythme aux frais jusqu’à leur adoption</li>
                                <li>Vous les prenez sous votre aile «&nbsp;virtuellement parlant&nbsp;» en diffusant leur post jusqu’à adoption</li>
                            </ul>


                            <p><img width="222" height="219" alt="Chien négligé" src="http://truffeetpattes.e-monsite.com/medias/images/chien-neglige.jpg"></p>


        <p>Les paniers-retraites :&nbsp;ces truffes ne seront pas proposés à l’adoption en raison de leur âge et/ou pathologie mais nous leur offrons une fin de vie heureuse dans une famille d’accueil longue durée</p>

                            <p>Votre aide&nbsp;:</p>

                            <ul>
                                <li>Ces loulous ont des besoins d’ordre médical (traitements contre l’arthrose, gouttes pour les yeux, problèmes urinaires, croquettes spéciales…)</li>
                                <li>Vous pourrez également donner des nouvelles de votre protégé sur notre page</li>
                            </ul>


                            <p><img width="532" height="399" alt="Leyli au début" src="http://truffeetpattes.e-monsite.com/medias/images/1-12.jpg?fx=r_532_399"></p>


            <h2>
                Voici nos truffes en panier retraite                    </h2>

                            <p><a title="Zadig" href="http://truffeetpattes.e-monsite.com/pages/toutes-nos-truffes/les-truffes-en-panier-retraite/zadig.html"><img width="333" height="236" alt="Zadig" src="http://truffeetpattes.e-monsite.com/medias/images/avatar-2.jpg?fx=r_333_500"></a></p>



                            <p><a title="Charly site" href="http://truffeetpattes.e-monsite.com/pages/toutes-nos-truffes/les-truffes-en-panier-retraite/charly.html"><img width="220" height="241" alt="Charly site" src="http://truffeetpattes.e-monsite.com/medias/images/charly-site.jpg?fx=r_500_241"></a></p>



                            <p><a title="Brooky" href="http://truffeetpattes.e-monsite.com/pages/toutes-nos-truffes/les-truffes-en-panier-retraite/brooky.html"><img width="241" height="500" alt="Brooky" src="http://truffeetpattes.e-monsite.com/medias/images/brooky-1.jpg?fx=r_333_500"></a></p>

                            <p><a title="Azur avatar" href="http://truffeetpattes.e-monsite.com/pages/toutes-nos-truffes/les-truffes-en-panier-retraite/azur.html"><img width="225" height="292" class="img-center" alt="Azur avatar" src="http://truffeetpattes.e-monsite.com/medias/images/azur-avatar.jpg?fx=r_225_300"></a></p>
    </div></div>
</section>