<div class="container">
    <div  class="row-container page_1">
        <div class="row-content">
            <h2 class="row-title">
                Famille d'accueil? FA? Qu'est-ce que c'est?
            </h2>
            <div class="row">
                <div class="column" style="width:100%">
                    <div  class="column-content">
                        <div class="clearfix">
                            <p>Famille d&#39;accueil (FA) c&#39;est comme &ecirc;tre une Tata ou un tonton&nbsp;pour un chien.</p>

                            <p>On le prend &agrave; la maison et on fait tout comme si c&#39;est son loulou &agrave; soi.</p>

                            <p>Pendant ce temps l&#39;association lui cherche des adoptants pour la vie.</p>

                            <p>Les familles d&#39;accueil sont pr&eacute;cieuses car souvent le chien se retrouve en refuge ou&nbsp;pire s&#39;il n&#39;a pas d&#39;adoptants directs. Cela permet aussi de voir le caract&egrave;re et le comportement du loulou afin de bien cibler ses adoptants. La FA peut parfois lui apprendre aussi la base et lui redonne confiance en l&#39;humain s&#39;il est peureux.</p>

                            <p>On ne peut pas savoir combien de temps le chien reste chez sa FA, parfois c&#39;est tr&egrave;s rapide &agrave; trouver des adoptants et parfois cela peut prendre plusieurs mois. Emotionnellement c&#39;est intense car on s&#39;attache au loulou bien s&ucirc;r, et le d&eacute;part est rude. Mais c&#39;est un r&eacute;el bonheur de savoir qu&#39;il a une belle vie gr&acirc;ce &agrave; cette d&eacute;marche. &nbsp;C&#39;est une joie incroyable et une exp&eacute;rience intense.</p>

                            <p>&nbsp;</p>

                            <p>L&#39;association paye les frais de v&eacute;t&eacute;rinaire du loulou, la FA se charge de le nourrir et de le caliner.</p>

                            <p>&nbsp;</p>

                            <p>N&#39;h&eacute;sitez pas &agrave; remplir le&nbsp;formulaire ci-dessus afin&nbsp;de&nbsp;voir ensemble quel Loulou serait le plus adapt&eacute; chez vous.</p>

                            <p>&nbsp;</p>

                            <p style="text-align: center;"><span style="font-size:28px;"><span style="font-family:comic sans ms,cursive;"><span style="color:#4B0082;"><strong>1 FA = 1 sauvetage</strong></span></span></span></p>

                            <p>&nbsp;</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>