
<div class="container">
    <h5 style="text-align:center"><a href="fa">Qu'est-ce que c'est ?</a><br><br><br>
    </h5>
    <h2 style="color:green;">{{message}}</h2>
    <form id="insertLieu" action="/formulaireFA" method="post">

            <input type="hidden" value="{{personne.idPersonne}}" name="idPersonne">

    <div class="row">


        <div class="col-md-6">

        <h2 style="color:darkmagenta">Vos souhaits</h2>

            <input type="text"  name="especeFA" placeholder="Espèce" ></input>

        <input type="text"  name="genreFA" placeholder="Mâle / Femelle" ></input>

        <input type="text" name="ageChienFA" placeholder="Très jeune, jeune, adulte, âgé" ></input>

        <input type="text" name="tailleChienFA" placeholder="Mini - Moyen - Grand - Maxi" ></input>




            <textarea type="text" name="commentairesFA" placeholder="Commentaires"></textarea>
            <br><br><br><br>
            <img src="/images/fa.png" height="200px" style="-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;">
        </div>

        <div class="col-md-6" style="text-align: left;"> <h2 style="color:darkmagenta; text-align: left;">Votre environnement</h2>

            <input type="text" name="typeLogementFA" placeholder="Appartement - maison - ..." ></input>

            <p></p>

            <input type="text" name="surfaceFA" placeholder="Surface du logement en m2"  ></input>

            <p></p>

            <input type="text" name="jardinFA" placeholder="Avec ou sans jardin ..."  ></input>

            <p></p>

            <input type="text" name="clotureFA" placeholder="Hauteur de la clôture"  ></input>

            <p></p>

            <input type="text" name="enfantFA" placeholder="L'animal cotoiera des enfants ? "></input>

            <p></p>

            <input type="text" name="ageEnfantFA" placeholder="Âges des enfants"></input>

            <p></p>

            <textarea type="text" name="dejaEuAnimauxFA" placeholder="Avez-vous déjà eu des animaux ?"  ></textarea>

            <p></p>

            <textarea type="text" name="possedeAnimauxFA" placeholder="Avez-vous actuellement des animaux ?"  ></textarea>

            <p></p>
<br><br><br>
        </div>




<div class="col-md-9">
   <br> <br>
    <div style="text-align: justify;">
        <h2 style="color:darkmagenta">Vos conditions</h2>
        <label for="propreteFA">Accepteriez-vous de parfaire son éducation si l'animal confié n'est pas propre ?</label>
        <p></p>
        <input type="radio" name="propreteFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="propreteFA" value="0"> Non</input>
        <p></p>
<br>
        <label for="educationFA">Accepteriez-vous de parfaire son éducation de base (marche en laisse, rappel, ordres de base pour les chiens) ?</label>
        <p></p>
        <input type="radio" name="educationFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="educationFA" value="0"> Non</input>
        <p></p>
        <br>
        <label for="maltraitanceFA">Accepteriez-vous d'accueillir un animal craintif, ayant subi des maltraitances ? </label>
        <p></p>
        <input type="radio" name="maltraitanceFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="maltraitanceFA" value="0"> Non</input>
        <p></p>

        <br>
        <label for="handicapFA">Accepteriez-vous d'accueillir un animal handicapé (aveugle, sourd, amputé, par exemple) ? </label>
        <p></p>
        <input type="radio" name="handicapFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="handicapFA" value="0"> Non</input>
        <p></p>
        <br>
        <label for="soinsFA">Accepteriez-vous d'accueillir un animal qui nécessite des soins ou des traitements vétérinaires spécifiques ?</label>
        <p></p>
        <input type="radio" name="soinsFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="soinsFA" value="0"> Non</input>
        <p></p>
        <br>

        <label for="solitudeFA">L'animal sera-t-il seul (absences régulières de + de 3h) :  jours et plages horaires approximatives </label>
        <p></p>
        <input type="radio" name="solitudeFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="solitudeFA" value="0"> Non</input>
        <p></p>

</div><br></div>
        <div class="col-md-3">
            <br><br><br><br><br>
            <img src="/images/toutou.png" height="200px" style="-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;">
        </div>
    </div>
    <div style="text-align: center;">
    <input style="background-color: darkmagenta;" class="btn" type="submit" value="M'inscrire en tant que famille d'accueil">
    </div>
</form>

<br><br><br>
</div>