
<div class="container">
    <h5 style="text-align:center"><a href="fa">Qu'est-ce que c'est ?</a><br><br><br>
    </h5> <form action="action_page.php">
    <div class="row">
    <div class="col-md-4">

        <h2 style="color:darkmagenta">Coordonnées</h2>

        <input type="text" name="nomFA" placeholder="* Nom complet" required >

        <input type="text" name="prenomFA" placeholder="* Prénom" required >

        <textarea type="mail" name="emailFA" placeholder="* Mail" required ></textarea>

        <input type="text" name="facebookFA" placeholder="Pseudo facebook" ></input>

        <input type="tel" name="telephoneFA" placeholder="* Numéro de téléphone" required ></input>

        <input type="text" name="rueFA" placeholder="* Rue" required ></input>

        <input type="text" name="npaFA" placeholder="* Code postal" required ></input>

        <input type="text" name="localiteFA" placeholder="* Localité" required ></input>

       <input type="date"  name="datenaissanceFA" placeholder="* Date de naissance" required ></input>

    </div>

        <div class="col-md-4">



        <h2 style="color:darkmagenta">Vos souhaits</h2>

            <input type="text"  name="especeFA" placeholder="Espèce" ></input>

        <input type="text"  name="genreFA" placeholder="Mâle / Femelle" ></input>

        <input type="text" name="ageChienFA" placeholder="Très jeune, jeune, adulte, âgé" ></input>

        <input type="text" name="tailleChienFA" placeholder="Mini - Moyen - Grand - Maxi" ></input>



            <textarea type="text" name="commentairesFA" placeholder="Commentaires"></textarea>
        </div>

        <div class="col-md-4" style="text-align: left;"> <h2 style="color:darkmagenta; text-align: left;">Votre environnement</h2>

            <input type="text" name="typeLogementFA" placeholder="Appartement - maison - ..." ></input>

            <p></p>

            <input type="text" name="surfaceFA" placeholder="Surface du logement en m2"  ></input>

            <p></p>

            <input type="text" name="jardinFA" placeholder="Avec ou sans jardin ..."  ></input>

            <p></p>

            <input type="text" name="clotureFA" placeholder="Hauteur de la clôture"  ></input>

            <p></p>

            <input type="text" name="enfantFA" placeholder="L'animal cotoiera des enfants ? "></input>

            <p></p>

            <input type="text" name="ageEnfantFA" placeholder="Âges des enfants"></input>

            <p></p>

            <textarea type="text" name="dejaEuAnimauxFA" placeholder="Avez-vous déjà eu des animaux ?"  ></textarea>

            <p></p>

            <textarea type="text" name="possedeAnimauxFA" placeholder="Avez-vous actuellement des animaux ?"  ></textarea>

            <p></p>

        </div>





    </div><br> <br>
    <div style="text-align: justify;">
        <h2 style="color:darkmagenta">Vos conditions</h2>
        <label for="propreteFA">Accepteriez-vous de parfaire son éducation si l'animal confié n'est pas propre ?</label>
        <p></p>
        <input type="radio" name="propreteFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="propreteFA" value="0"> Non</input>
        <p></p>
<br>
        <label for="educationFA">Accepteriez-vous de parfaire son éducation de base (marche en laisse, rappel, ordres de base pour les chiens) ?</label>
        <p></p>
        <input type="radio" name="educationFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="educationFA" value="0"> Non</input>
        <p></p>
        <br>
        <label for="maltraitanceFA">Accepteriez-vous d'accueillir un animal craintif, ayant subi des maltraitances ? </label>
        <p></p>
        <input type="radio" name="maltraitanceFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="maltraitanceFA" value="0"> Non</input>
        <p></p>

        <br>
        <label for="handicapFA">Accepteriez-vous d'accueillir un animal handicapé (aveugle, sourd, amputé, par exemple) ? </label>
        <p></p>
        <input type="radio" name="handicapFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="handicapFA" value="0"> Non</input>
        <p></p>
        <br>
        <label for="soinsFA">Accepteriez-vous d'accueillir un animal qui nécessite des soins ou des traitements vétérinaires spécifiques ?</label>
        <p></p>
        <input type="radio" name="soinsFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="soinsFA" value="0"> Non</input>
        <p></p>
        <br>

        <label for="solitudeFA">L'animal sera-t-il seul (absences régulières de + de 3h) :  jours et plages horaires approximatives </label>
        <p></p>
        <input type="radio" name="solitudeFA" value="1"> Oui</input>
        <p></p>
        <input type="radio" name="solitudeFA" value="0"> Non</input>
        <p></p>






</div><br>
    <div style="text-align: center;">
    <input style="background-color: darkmagenta;" formmethod="post" formaction="/formulaireFA" class="btn" type="submit" value="M'inscrire en tant que famille d'accueil">
    </div>
</form>

<br><br><br>
</div>