
<div class="container">
    <h5 style="text-align:center"><a href="adoption">Comment adopter ?</a></h5>
    <form action="action_page.php">

        <h2 style="color:slateblue">Coordonnées</h2>

        <label for="fname">Nom</label>
        <input type="text" id="fname" name="firstname" placeholder="Votre nom..." required>

        <label for="lname">Prénom</label>
        <input type="text" id="lname" name="lastname" placeholder="Votre prénom..." required>

        <label for="mail">E-mail</label>
        <textarea type="mail" id="mail" name="email" placeholder="Votre mail..." required></textarea>

        <label for="fb">Pseudo Facebook</label>
        <input type="text" id="fb" name="facebook" placeholder="Votre pseudo facebook..." required></input>

        <label for="tel">Téléphone</label>
        <textarea data-type="control_textbox" id="tel" name="telephone" placeholder="Votre numéro de téléphone..." required></textarea>

        <label for="adrs">Adresse</label>
        <input type="text" id="adrs" name="adresse" placeholder="Votre adresse..." required></input>

        <label for="npa">NPA</label>
        <input type="text" id="npa" name="numpostal" placeholder="Votre code postal..." required></input>

        <label for="loc">Localité</label>
        <input type="text" id="loc" name="localite" placeholder="Votre localité..." required></input>

        <label for="dn">Date de naissance</label>
        <textarea data-type="control_datetime" id="dn" name="datenaissance" placeholder="Votre date de naissance..." required></textarea>

        <h2 style="color:slateblue">Vos souhaits</h2>

        <label for="esp">Espèce</label>
        <input type="text" id="esp" name="espece" placeholder="Nom de l'espèce..." required></input>

        <label for="sex">Sexe</label>
        <input type="text" id="sex" name="sexe" placeholder="Mâle / Femelle / indifférent..." required></input>

        <label for="agechien">Age du chien</label>
        <input type="text" id="agechien" name="ageduchien" placeholder="Mâle / Femelle / indifférent..." required></input>

        <label for="t">Taille du chien</label>
        <input type="text" id="t" name="taille" placeholder="Mini (moins de 10kg) / Moyen (10-20kg) / Grand (20-40kg) / Maxi (plus de 40kg) / Indifférent..." required></input>

        <label for="j">Jour de l'adoption</label>
        <input type="text" id="j" name="jouradoption" placeholder="Jour/Mois/Année..." required></input>

        <h2 style="color:slateblue">Votre environnement</h2>

        <label for="typelogement">Type de logement</label>
        <div><input type="radio" name="typelogement" value="Maison"></input> Maison</div>
        <div><input type="radio" name="typelogement" value="Appartement"></input> Appartement</div>

        <p></p>

        <label for="surface">Surface du logement</label>
        <input type="text" id="surface" name="surfacelogement" placeholder="Surface en m2..." required></input>

        <p></p>

        <label for="j">Extérieur</label>
        <div><input type="radio" name="j" value="Avec jardin"></input> Avec jardin</div>
        <div><input type="radio" name="j" value="Sans jardin"></input> Sans jardin</div>
        <div><input type="radio" name="j" value="Rien"></input> Pas d'extérieur</div>

        <p></p>

        <label for="enfant">L'animal cotoiera-t-il régulièrement des enfants ?</label>
        <div><input type="radio" name="enfant" value="Enfant"></input> Oui</div>
        <div><input type="radio" name="enfant" value="Pas enfant"></input> Non</div>

        <p></p>

        <label for="animaux">Avez-vous d'autres animaux ?</label>
        <div><input type="radio" name="animaux" value="animaux"></input> Oui</div>
        <div><input type="radio" name="animuax" value="pas autres animaux"></input> Non</div>

        <p></p>

        <label for="propre">Accepteriez-vous de parfaire son éducation si l'animal confié n'est pas propre ?</label>
        <div><input type="radio" name="propre" value="propre"></input> Oui</div>
        <div><input type="radio" name="propre" value="pas propre"></input> Non</div>

        <p></p>

        <label for="maltraitance">Accepteriez-vous d'accueillir un animal craintif, ayant subi des maltraitances ? </label>
        <div><input type="radio" name="maltraitance" value="maltraite"></input> Oui</div>
        <div><input type="radio" name="maltraitance" value="pas maltraite"></input> Non</div>

        <p></p>

        <label for="soins">Accepteriez-vous d'accueillir un animal qui nécessite des soins ou des traitements vétérinaires spécifiques ? </label>
        <div><input type="radio" name="soins" value="soins"></input> Oui</div>
        <div><input type="radio" name="soins" value="pas soins"></input> Non</div>

        <p></p>

        <label for="autre">Souhaitez-vous indiquer des informations supplémentaires ? </label>
        <textarea data-type="control_textbox" id="autre" name="autreinfo" placeholder="Autres informations..." required></textarea>

        <input class="btn" type="submit" value="envoyer">

    </form>
</div>