
<!-- End of header-->
<section class="aboutus margin-top-120" id="aboutus" >


    <div class="container" >

        <div class="row">

            <h2>
                A (1)                    </h2>



            <img alt="Alpha et pirate" src="http://truffeetpattes.e-monsite.com/medias/images/alpha-et-pirate-1.jpg">

            <img alt="Arko" src="http://truffeetpattes.e-monsite.com/medias/images/arko.jpg">

            <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

            <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">
        </div>

        <br><br><br>

        <div class="row">


            <h2>
                B (1)                    </h2>




            <img alt="Mosaique" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

            <img alt="Bella" src="http://truffeetpattes.e-monsite.com/medias/images/bella.jpg">

            <img alt="Benji" src="http://truffeetpattes.e-monsite.com/medias/images/benji.jpg">

            <img alt="Billy" src="http://truffeetpattes.e-monsite.com/medias/images/billy.jpg">
            <div>

                <br><br><br>

                <div class="row">


                    <h2>
                        B (2)                    </h2>



                    <img alt="Black" src="http://truffeetpattes.e-monsite.com/medias/images/black-1.jpg">

                    <img alt="Bobby" src="http://truffeetpattes.e-monsite.com/medias/images/bobby.jpg">

                    <img alt="Bouboule" src="http://truffeetpattes.e-monsite.com/medias/images/bouboule.jpg">

                    <img alt="Brooklyn" src="http://truffeetpattes.e-monsite.com/medias/images/brooklyn.jpg">
                </div>
                <br><br><br>
                <div class="row">



                    <h2>
                        C (1)                    </h2>



                    <img alt="Cachou" src="http://truffeetpattes.e-monsite.com/medias/images/cachou.jpg">

                    <img alt="Caramel" src="http://truffeetpattes.e-monsite.com/medias/images/caramel-avatar.jpg">

                    <img alt="Cerise" src="http://truffeetpattes.e-monsite.com/medias/images/cerise-1.jpg">

                    <img alt="Choupette" src="http://truffeetpattes.e-monsite.com/medias/images/choupette.jpg">
                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        C (2)                    </h2>

                    <img alt="Coockie" src="http://truffeetpattes.e-monsite.com/medias/images/coockie-1.jpg">

                    <img alt="Cooper adopte" src="http://truffeetpattes.e-monsite.com/medias/images/cooper-adopte.jpg">

                    <img alt="Croquette" src="http://truffeetpattes.e-monsite.com/medias/images/croquette.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">
                </div>
                <br><br><br>

                <div class="row">

                    <h2>
                        D (1)                    </h2>

                    <img alt="Daella" src="http://truffeetpattes.e-monsite.com/medias/images/daella.jpg">

                    <img alt="Daisy" src="http://truffeetpattes.e-monsite.com/medias/images/daisy-1.jpg">

                    <img alt="Dana" src="http://truffeetpattes.e-monsite.com/medias/images/dana-2.jpg">

                    <img alt="Danae" src="http://truffeetpattes.e-monsite.com/medias/images/danae-3.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        D (2)                    </h2>

                    <img alt="Diane 1" src="http://truffeetpattes.e-monsite.com/medias/images/diane-1.jpg">

                    <img alt="Djena" src="http://truffeetpattes.e-monsite.com/medias/images/djena.jpg">

                    <img alt="Dora" src="http://truffeetpattes.e-monsite.com/medias/images/dora.jpg">

                    <img alt="Doudou" src="http://truffeetpattes.e-monsite.com/medias/images/doudou-2.jpg">

                </div>  <br><br><br>
                <div class="row">



                    <h2>
                        E (1)                    </h2>

                    <img alt="Easy" src="http://truffeetpattes.e-monsite.com/medias/images/easy-3.jpg">

                    <img alt="Eclipse" src="http://truffeetpattes.e-monsite.com/medias/images/eclipse.jpg">

                    <img alt="Eden" src="http://truffeetpattes.e-monsite.com/medias/images/eden-1.jpg">

                    <img width="186" height="300" alt="Eliot" src="http://truffeetpattes.e-monsite.com/medias/images/eliot-adopte-1.jpg?fx=r_186_300">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        E (2)                    </h2>

                    <img alt="Eragon" src="http://truffeetpattes.e-monsite.com/medias/images/eragon.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        F (1)                    </h2>

                    <img alt="Fanjo" src="http://truffeetpattes.e-monsite.com/medias/images/fanjo-2.jpg">

                    <img alt="Filou" src="http://truffeetpattes.e-monsite.com/medias/images/filou-1.jpg">

                    <img alt="Fleur" src="http://truffeetpattes.e-monsite.com/medias/images/fleur-1.jpg">

                    <img alt="Flocon" src="http://truffeetpattes.e-monsite.com/medias/images/flocon-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        F (2)                    </h2>

                    <img alt="Flora" src="http://truffeetpattes.e-monsite.com/medias/images/flora-2.jpg">

                    <img alt="Flucky" src="http://truffeetpattes.e-monsite.com/medias/images/flucky-1.jpg">

                    <img alt="Fly" src="http://truffeetpattes.e-monsite.com/medias/images/fly-1.jpg">

                    <img alt="Francky" src="http://truffeetpattes.e-monsite.com/medias/images/francky.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        F (3)                    </h2>

                    <img alt="Frimousse" src="http://truffeetpattes.e-monsite.com/medias/images/frimousse.jpg">

                    <img alt="Frodon" src="http://truffeetpattes.e-monsite.com/medias/images/frodon-1.jpg">

                    <img alt="Fushia" src="http://truffeetpattes.e-monsite.com/medias/images/fushia-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">


                    <h2>
                        G (1)                    </h2>

                    <img alt="Gaby" src="http://truffeetpattes.e-monsite.com/medias/images/gaby-1.jpg">

                    <img alt="Galipette" src="http://truffeetpattes.e-monsite.com/medias/images/galipette-1.jpg">

                    <img alt="Gamin" src="http://truffeetpattes.e-monsite.com/medias/images/gamin-1.jpg">

                    <img alt="Gandhi" src="http://truffeetpattes.e-monsite.com/medias/images/gandhi-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        G (2)                    </h2>

                    <img alt="Gessya" src="http://truffeetpattes.e-monsite.com/medias/images/gessya-1.jpg">

                    <img alt="Granola" src="http://truffeetpattes.e-monsite.com/medias/images/granola.jpg">

                    <img alt="Guizmo" src="http://truffeetpattes.e-monsite.com/medias/images/guizmo-1.jpg">

                    <img alt="Guss" src="http://truffeetpattes.e-monsite.com/medias/images/guss.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        G (3)                    </h2>

                    <img alt="Gypsie" src="http://truffeetpattes.e-monsite.com/medias/images/gypsie-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">


                    <h2>
                        H (1)                    </h2>


                    <img alt="Halto" src="http://truffeetpattes.e-monsite.com/medias/images/halto-1.jpg">



                    <img alt="Happy" src="http://truffeetpattes.e-monsite.com/medias/images/happy.jpg">

                    <img alt="Haribo" src="http://truffeetpattes.e-monsite.com/medias/images/haribo.jpg">

                    <img alt="Heliot" src="http://truffeetpattes.e-monsite.com/medias/images/heliot-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        H (2)                    </h2>

                    <img alt="Hellie" src="http://truffeetpattes.e-monsite.com/medias/images/hellie-1.jpg">

                    <img alt="Helsie" src="http://truffeetpattes.e-monsite.com/medias/images/helsie-1.jpg">

                    <img alt="Herbie" src="http://truffeetpattes.e-monsite.com/medias/images/herbie.jpg">

                    <img alt="Hindra" src="http://truffeetpattes.e-monsite.com/medias/images/hindra.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        H (3)                    </h2>

                    <img alt="Honey" src="http://truffeetpattes.e-monsite.com/medias/images/honey.jpg">

                    <img alt="Hyundai" src="http://truffeetpattes.e-monsite.com/medias/images/hyundai.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>  <br><br><br>
                <div class="row">


                    <h2>
                        I (1)                    </h2>

                    <img alt="Iako" src="http://truffeetpattes.e-monsite.com/medias/images/iako-1.jpg">

                    <img alt="Igloo" src="http://truffeetpattes.e-monsite.com/medias/images/igloo.jpg">

                    <img alt="Ines" src="http://truffeetpattes.e-monsite.com/medias/images/ines-1.jpg">

                    <img alt="Ioshi" src="http://truffeetpattes.e-monsite.com/medias/images/ioshi.jpg">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        I (2)                    </h2>

                    <img alt="Ipop" src="http://truffeetpattes.e-monsite.com/medias/images/ipop-1.jpg">

                    <img alt="Iron" src="http://truffeetpattes.e-monsite.com/medias/images/iron-1.jpg">

                    <img alt="Irys" src="http://truffeetpattes.e-monsite.com/medias/images/irys-1.jpg">

                    <img alt="Iska" src="http://truffeetpattes.e-monsite.com/medias/images/iska-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        I (3)                    </h2>

                    <img alt="Isko" src="http://truffeetpattes.e-monsite.com/medias/images/isko-1.jpg">

                    <img alt="Ivy" src="http://truffeetpattes.e-monsite.com/medias/images/ivy.jpg">

                    <img alt="Izno" src="http://truffeetpattes.e-monsite.com/medias/images/izno-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>

                <br><br><br>
                <div class="row">

                    <h2>
                        J (1)                    </h2>

                    <img alt="J adore" src="http://truffeetpattes.e-monsite.com/medias/images/j-adore.jpg">

                    <img alt="Jaia" src="http://truffeetpattes.e-monsite.com/medias/images/jaia.jpg">

                    <img alt="Jally" src="http://truffeetpattes.e-monsite.com/medias/images/jally-1.jpg">

                    <img alt="Jana" src="http://truffeetpattes.e-monsite.com/medias/images/jana-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        J (2)                    </h2>

                    <img alt="Jumper" src="http://truffeetpattes.e-monsite.com/medias/images/jumper.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>  <br><br><br>
                <div class="row">

                    <h2>
                        K (1)                    </h2>

                    <img alt="Kajou" src="http://truffeetpattes.e-monsite.com/medias/images/kajou.jpg">

                    <img alt="Kalak" src="http://truffeetpattes.e-monsite.com/medias/images/kalak-1.jpg">

                    <img alt="Kayak" src="http://truffeetpattes.e-monsite.com/medias/images/kayak-3.jpg">

                    <img alt="Kenzo" src="http://truffeetpattes.e-monsite.com/medias/images/kenzo.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        K (2)                    </h2>

                    <img alt="Kiwi" src="http://truffeetpattes.e-monsite.com/medias/images/kiwi.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        L (1)                    </h2>

                    <img alt="Lanzo 1" src="http://truffeetpattes.e-monsite.com/medias/images/lanzo-1.jpg">

                    <img alt="Lenny" src="http://truffeetpattes.e-monsite.com/medias/images/lenny.jpg">

                    <img alt="Lily 1" src="http://truffeetpattes.e-monsite.com/medias/images/lily-1.jpg">

                    <img alt="Litchi adopte" src="http://truffeetpattes.e-monsite.com/medias/images/litchi-adopte.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        L (2)                    </h2>

                    <img alt="Loo 1" src="http://truffeetpattes.e-monsite.com/medias/images/loo-1.jpg">

                    <img alt="Loukoum 1" src="http://truffeetpattes.e-monsite.com/medias/images/loukoum-1.jpg">

                    <img alt="Loula 1" src="http://truffeetpattes.e-monsite.com/medias/images/loula-1.jpg">

                    <img alt="Louna" src="http://truffeetpattes.e-monsite.com/medias/images/louna.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        L (3)                    </h2>

                    <img alt="Lyca 1" src="http://truffeetpattes.e-monsite.com/medias/images/lyca-1.jpg">

                    <img alt="Lys 1" src="http://truffeetpattes.e-monsite.com/medias/images/lys-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        M (1)                    </h2>

                    <img alt="Mad max" src="http://truffeetpattes.e-monsite.com/medias/images/mad-max.jpg">

                    <img alt="Maho 1" src="http://truffeetpattes.e-monsite.com/medias/images/maho-1.jpg">

                    <img alt="Maiko" src="http://truffeetpattes.e-monsite.com/medias/images/maiko.jpg">

                    <img alt="Maestro" src="http://truffeetpattes.e-monsite.com/medias/images/maestro.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        M (2)                    </h2>

                    <img alt="Malban 2" src="http://truffeetpattes.e-monsite.com/medias/images/malban-2.jpg">

                    <img alt="Malo 1" src="http://truffeetpattes.e-monsite.com/medias/images/malo-1.jpg">

                    <img alt="Mandine" src="http://truffeetpattes.e-monsite.com/medias/images/mandine.jpg">

                    <img alt="Manzana 2" src="http://truffeetpattes.e-monsite.com/medias/images/manzana-2.jpg">

                </div>
                <br><br><br>
                <div class="row">
                    <h2>
                        M (3)                    </h2>

                    <img alt="Marly" src="http://truffeetpattes.e-monsite.com/medias/images/marly.jpg">

                    <img alt="Max 1" src="http://truffeetpattes.e-monsite.com/medias/images/max-1.jpg">

                    <img alt="Melia" src="http://truffeetpattes.e-monsite.com/medias/images/melia.jpg">

                    <img alt="Mike 1" src="http://truffeetpattes.e-monsite.com/medias/images/mike-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        M (4)                    </h2>

                    <img alt="Milady" src="http://truffeetpattes.e-monsite.com/medias/images/milady.jpg">

                    <img alt="Milka 1" src="http://truffeetpattes.e-monsite.com/medias/images/milka-1.jpg">

                    <img alt="Milo 1" src="http://truffeetpattes.e-monsite.com/medias/images/milo-1.jpg">

                    <img alt="Mindy" src="http://truffeetpattes.e-monsite.com/medias/images/mindy.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        M (5)                    </h2>

                    <img alt="Minky" src="http://truffeetpattes.e-monsite.com/medias/images/minky-avatar-1.jpg">

                    <img alt="Miss 1" src="http://truffeetpattes.e-monsite.com/medias/images/miss-1.jpg">

                    <img alt="Moby 1" src="http://truffeetpattes.e-monsite.com/medias/images/moby-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        N (1)                    </h2>

                    <img alt="Nachos" src="http://truffeetpattes.e-monsite.com/medias/images/nachos-1.jpg">

                    <img alt="Nacree" src="http://truffeetpattes.e-monsite.com/medias/images/nacree-1.jpg">

                    <img alt="Narko" src="http://truffeetpattes.e-monsite.com/medias/images/narko.jpg">

                    <img alt="Nassai" src="http://truffeetpattes.e-monsite.com/medias/images/nassai-1.jpg">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        N (2)                    </h2>

                    <img alt="Nayla" src="http://truffeetpattes.e-monsite.com/medias/images/nayla-1.jpg">

                    <img alt="Neige" src="http://truffeetpattes.e-monsite.com/medias/images/neige-1.jpg">

                    <img alt="Neko" src="http://truffeetpattes.e-monsite.com/medias/images/neko-1.jpg">

                    <img alt="Nora" src="http://truffeetpattes.e-monsite.com/medias/images/nora-1.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        N (3)                    </h2>

                    <img alt="Norton" src="http://truffeetpattes.e-monsite.com/medias/images/norton-1.jpg">

                    <img alt="Noub" src="http://truffeetpattes.e-monsite.com/medias/images/noub-1.jpg">

                    <img alt="Noucky" src="http://truffeetpattes.e-monsite.com/medias/images/noucky-1.jpg">

                    <img alt="Nougat" src="http://truffeetpattes.e-monsite.com/medias/images/nougat.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        N (4)                    </h2>

                    <img alt="Nuts et nemo" src="http://truffeetpattes.e-monsite.com/medias/images/nuts-et-nemo-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        O (1)                    </h2>

                    <img alt="Oasis" src="http://truffeetpattes.e-monsite.com/medias/images/oasis-1.jpg">

                    <img alt="Ocean" src="http://truffeetpattes.e-monsite.com/medias/images/ocean.jpg">

                    <img alt="Okapi" src="http://truffeetpattes.e-monsite.com/medias/images/okapi.jpg">

                    <img alt="Okay" src="http://truffeetpattes.e-monsite.com/medias/images/okay.jpg">

                </div>  <br><br><br>
                <div class="row">


                    <h2>
                        O (2)                    </h2>

                    <img alt="Mosaique" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Onaya" src="http://truffeetpattes.e-monsite.com/medias/images/onaya.jpg">

                    <img alt="Ondine" src="http://truffeetpattes.e-monsite.com/medias/images/ondine.jpg">

                    <img alt="Onix" src="http://truffeetpattes.e-monsite.com/medias/images/onix.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        O (3)                    </h2>

                    <img alt="Orange" src="http://truffeetpattes.e-monsite.com/medias/images/orange.jpg">

                    <img alt="Origan" src="http://truffeetpattes.e-monsite.com/medias/images/origan.jpg">

                    <img alt="Orion" src="http://truffeetpattes.e-monsite.com/medias/images/orion.jpg">

                    <img alt="Orka" src="http://truffeetpattes.e-monsite.com/medias/images/orka.jpg">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        O (4)                    </h2>

                    <img alt="Ouchka" src="http://truffeetpattes.e-monsite.com/medias/images/ouchka.jpg">

                    <img alt="Oupette" src="http://truffeetpattes.e-monsite.com/medias/images/oupette.jpg">

                    <img alt="Ouzo" src="http://truffeetpattes.e-monsite.com/medias/images/ouzo.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        P (1)                    </h2>

                    <img alt="Paille" src="http://truffeetpattes.e-monsite.com/medias/images/paille.jpg">

                    <img alt="Papouille" src="http://truffeetpattes.e-monsite.com/medias/images/papouille.jpg">

                    <img alt="Pepite" src="http://truffeetpattes.e-monsite.com/medias/images/pepite.jpg">

                    <img alt="Pepito" src="http://truffeetpattes.e-monsite.com/medias/images/pepito-1.jpg">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        P (2)                    </h2>

                    <img alt="Plume" src="http://truffeetpattes.e-monsite.com/medias/images/plume-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>

                        R                    </h2>

                    <img alt="Roucky" src="http://truffeetpattes.e-monsite.com/medias/images/roucky.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>

                <br><br><br>
                <div class="row">
                    <h2>
                        S                    </h2>

                    <img alt="Sam 1" src="http://truffeetpattes.e-monsite.com/medias/images/sam-1.jpg">

                    <img alt="Sora 1" src="http://truffeetpattes.e-monsite.com/medias/images/sora-1.jpg">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                    <img alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png">

                </div>
                <br><br><br>
                <div class="row">

                    <h2>
                        T U                    </h2>

                    <img alt="Topaze" src="http://truffeetpattes.e-monsite.com/medias/images/topaze.jpg">

                    <img alt="Torpen" src="http://truffeetpattes.e-monsite.com/medias/images/torpen.jpg">

                    <img alt="Upsa" src="http://truffeetpattes.e-monsite.com/medias/images/upsa.jpg">

                    <img alt="Tango" src="http://truffeetpattes.e-monsite.com/medias/images/tango.jpg">

                </div>
                <br><br><br>
                <div class="row">


                    <h2>
                        V W X Y Z                    </h2>

                    <img alt="Vanille 1" src="http://truffeetpattes.e-monsite.com/medias/images/vanille-1.jpg">

                    <img alt="Voyou 1" src="http://truffeetpattes.e-monsite.com/medias/images/voyou-1.jpg">

                    <img alt="Yorks 1" src="http://truffeetpattes.e-monsite.com/medias/images/yorks-1.jpg">

                    <img width="217" height="200" alt="Truffe etoile" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-etoile.png?fx=r_217_200">





                </div>


            </div>

        </div>
    </div></section>