<!DOCTYPE html>
<html>
<head>
    <base href="/"></base>
    <title>Une truffe et des pattes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/slider-pro.css">
    <script src="/public/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>
    <!-- Style and onclick for login method inspire from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal-->
</head>


<header>

    <!-- Image Header -->

        <div class="row" style="color: darkmagenta;background-image: url(/images/fond.png); ">

            <div class="col-md-2" style="text-align: right;"><br>
           <img  src="/images/logo.png" height="100px" ></div>

            <div class="col-md-4"><br>
                <h3  style="text-align: left;">Site officiel</h3><h2  style="text-align: left;">Association Une truffe et des pattes</h2>
                <p><i class="fa fa-map-marker"></i><span>   2 rue de Crec&apos;h reut, 22 610 Pleubian</span></p>
                <p><i class="fa fa-envelope-o"></i><span>  <a href="mailto:lestruffesdesierre@gmail.com">lestruffesdesierre@gmail.com</a></span></p>
                <p><i class="fa fa-mobile-phone"></i><span>   06.59.02.07.16</span></p></div>
            <div class="col-md-6">
                <img src="/images/layout.png" alt="bannière des truffes" style="width:auto;min-height:120px;max-height:400px;  ">
                <br>
            </div>
        </div>
    <br>
    <!-- Navbar -->

        <div class="w3-bar  w3-left-align" style="padding: 10px 150px; font-size:20px; background-image: url(/images/fond.png); ">

            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="about" class="w3-bar-item w3-button" style="background-color:#eea236"><i
                    class="fa fa-home w3-margin-right"></i>Accueil</a>
            <a href="dogs" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Adopter</a>
            <a href="formulaireFA" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Devenir une famille d'accueil</a>
            <a href="don" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Faire un don</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Informations<i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="fa" class="w3-bar-item w3-button">FA?</a>
                    <a href="adoption" class="w3-bar-item w3-button">Adoptions</a>
                    <a href="heureusesTruffesAdoptees" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Heureuses truffes adoptées</a>
                    <a href="livredor" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Album</a>
                    <a href="partenaires" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Partenaires</a>
                    <a href="album" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Truffes dans les étoiles</a>
                    <a href="shop" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Boutique</a>
                </div>
            </div>


            <a href="contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
         {{#if user.privilege}}
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-button" title="Notifications">Administrateur<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="dogsAdmin" class="w3-bar-item w3-button">Chiens</a>
                        <a href="dogsAsked" class="w3-bar-item w3-button">Adoptions</a>
                        <a href="dogsAsked" class="w3-bar-item w3-button">Membres adoptant</a>
                        <a href="dogsFA" class="w3-bar-item w3-button">Chiens en famille d'accueil</a>
                        <a href="faAdmin" class="w3-bar-item w3-button">Liste des FA</a>
                        <a href="vets" class="w3-bar-item w3-button">Vétérinaires</a>
                        <a href="persons" class="w3-bar-item w3-button">Membres</a>
                        <a href="persons" class="w3-bar-item w3-button">Donateurs</a>
                        <a href="persons" class="w3-bar-item w3-button">Adhérents</a>
                        <a href="persons" class="w3-bar-item w3-button">Attribution des rôles</a>


                        <!-- Collect the nav links, forms, and other content for toggling collapse navbar-collapse-->

                        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                        <!--<ul class="nav navbar-nav navbar-default">-->
                        <!--<li><a href="about">Accueil</a></li>-->
                        <!--<li><a href="vets">Vétérinaires</a></li>-->
                        <!--<li><a href="dogsAdmin">Gestion des chiens</a></li>-->
                        <!--<li><a href="dogs">Nos truffes à adopter</a></li>-->
                        <!--<li><a href="formulaireFA">Devenir FA</a></li>-->
                        <!--<li><a href="contact">Contact</a></li>-->
                        <!--<li><a href="admin">Admin</a></li>-->

                    </div>
                </div>
            {{/if}}
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i
                    class="fa fa-search"></i></a>

            {{#if user.loggedin }}

                    <a onclick="document.getElementById('id02').style.display='block'"
                       style="cursor: pointer; margin-left:52px;color:deeppink"
                       class="w3-bar-item w3-right w3-button w3-hide-small ">{{user.username}}</a>
                    <body>
                    <div id="id02" class="modal" >

                        <form class="modal-content animate" action="/logout" method="post">

                           <div class="imgcontainer" style="text-align: center;">
                               <p style="color:darkmagenta">Cliquer en dehors de la fenêtre pour rester connecté</p>
                               <button type="submit" class="btn" style="background-color: darkmagenta">D&eacute;connexion</button></div>

                        </form>
                    </div>
                    </body>

            {{else}}
                <!-- gestion du login -->
                <!--<li>-->
                <a onclick="document.getElementById('id01').style.display='block'"
                   style="cursor: pointer; margin-left:52px;color:deeppink"
                   class="w3-bar-item w3-right w3-button w3-hide-small ">Se connecter</a>
                <body id="myPage">
                <div id="id01" class="modal">

                    <!--<form action="/login" method="post">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit">
                    </form> -->
                    <form class="modal-content animate" action="/login" method="post">
                        <!--action="/action_page.php" -->

                        <div class="imgcontainer">
                                                <span onclick="document.getElementById('id01').style.display='none'"
                                                      class="close">&times;</span>
                            <label for="username"><b>Utilisateur</b></label>
                            <input type="text" class="form-control"
                                   placeholder="Insert your username"
                                   name="username"
                                   required/>

                            <label for="psw"><b>Mot de passe</b></label>
                            <input type="password" class="form-control"
                                   placeholder="Mot de passe"
                                   name="password" required/>

                            <div style="text-align: center">
                                <button type="submit" class="btn">Connexion</button>
                                <a href="personForm" class="btn">Créer un compte</a>
                                <br/>
                                <br/>
                                <label>
                                    <input type="checkbox" checked="checked"
                                           name="remember"><span style="color:black">Se
                                    souvenir
                                    de moi</span>
                                </label>
                                <br/>
                                <br/>
                            </div>

                            <!--
                            <img src="images/logo.png" width="100px" height="90%"
                                 alt="Avatar"
                                 class="avatar"
                                 style="text-align: center"> -->


                            <div style="background-color:#f1f1f1;padding: 16px; vertical-align: center">
                                <button type="button"
                                        onclick="document.getElementById('id01').style.display='none'"
                                        class="btn">Annuler
                                </button>
                                <span class="psw"><a
                                        href="#">Mot de passe oublié?</a></span>
                            </div>
                        </div>
                    </form>
                </div>
                </body>

                <script>
                    // Get the modal
                    var modal = document.getElementById('id01');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target === modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
                <!--</li>-->
            {{/if}}

        </div>

    </div>
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="about" class="w3-bar-item w3-button">Accueil</a>
        <a href="formulaireFA" class="w3-bar-item w3-button">Devenir une famille d'accueil</a>
        <a href="don" class="w3-bar-item w3-button">Faire un don</a>
        <a href="fa" class="w3-bar-item w3-button">FA ?</a>
        <a href="adoption" class="w3-bar-item w3-button">Adoptions</a>
        <a href="heureusesTruffesAdoptees" class="w3-bar-item w3-button">Heureuses truffes adoptées</a>
        <a href="livredor" class="w3-bar-item w3-button">Album</a>
        <a href="partenaires" class="w3-bar-item w3-button">Partenaires</a>
        <a href="album" class="w3-bar-item w3-button">Truffes dans les étoiles</a>
        <a href="shop" class="w3-bar-item w3-button">Boutique</a>
        <a href="contact" class="w3-bar-item w3-button">Contact</a>
        <a href="#" class="w3-bar-item w3-button">Search</a>
    </div>
    </div>


    </div>
</header>

<!--<body onload="getSession()"></body>-->


<body id="up" style="overflow: auto; padding-top:0px" onload="getSession()">

<h1 style="text-align: center;margin-top: 80px;"><strong>{{title}}</strong></h1>
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>

</body>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center"  style="background-image: url(/images/fond.png);">

    <a class="w3-button w3-large" style="background-color: royalblue" href="https://www.facebook.com/groups/unetruffeetdespattes/" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large" style="background-color: #46b8da" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-hide-small" style="background-color: #337ab7" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    <br><br><br>
    <div style="color:black;"><p>Posted by: TruffSA</p>
        <p><i class="fa fa-map-marker"></i><span>   2 rue de Crec&apos;h reut, 22 610 Pleubian</span></p>
        <p><i class="fa fa-envelope-o"></i><span>  <a href="mailto:lestruffesdesierre@gmail.com">lestruffesdesierre@gmail.com</a></span></p>
        <p><i class="fa fa-mobile-phone"></i><span>   06.59.02.07.16</span></p></div>



    <div style="position:relative;bottom:175px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
        <a class="w3-button w3-theme" href="#up"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>


<script>
    // Script for side navigation
    function w3_open() {
        var x = document.getElementById("mySidebar");
        x.style.width = "300px";
        x.style.paddingTop = "10%";
        x.style.display = "block";
    }

    // Close side navigation
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>