<!DOCTYPE html>
<html>


<head>
<title>Une truffe et des pattes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">
<link rel="stylesheet" href="/stylesheets/slider-pro.css">
<script src="/public/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>
<!-- Style and onclick for login method inspire from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal-->
</head>


<header>

<!-- Navbar -->
<div class="w3-top">
    <div style="background: #000;"><br></div>
    <div class="w3-bar w3-theme-d2 w3-left-align">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="about" class="w3-bar-item w3-button" style="background-color:sandybrown" ><i class="fa fa-home w3-margin-right"></i>Accueil</a>
        <a href="dogs" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Adopter</a>
        <a href="fa" class="w3-bar-item w3-button w3-hide-small w3-hover-white">FA ?</a>
        <a href="formulaireFA" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Devenir FA</a>
        <a href="don" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Don</a>
        <a href="livredor" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Album</a>
        <a href="partenaires" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Partenaires</a>
        <a href="album" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Truffes dans les étoiles</a>
        <a href="shop" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Boutique</a>
        <a href="contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button" title="Notifications">Administrateur<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                <a href="dogsAdmin" class="w3-bar-item w3-button">Chiens</a>
                <a href="dogsAsked" class="w3-bar-item w3-button">Adoptions</a>
                <a href="dogsAsked" class="w3-bar-item w3-button">Membres adoptant</a>
                <a href="dogsFA" class="w3-bar-item w3-button">Chiens en famille d'accueil</a>
                <a href="dogsFA" class="w3-bar-item w3-button">Liste des FA</a>
                <a href="vets" class="w3-bar-item w3-button">Vétérinaires</a>
                <a href="persons" class="w3-bar-item w3-button">Membres</a>
                <a href="persons" class="w3-bar-item w3-button">Donateurs</a>
                <a href="persons" class="w3-bar-item w3-button">Adhérents</a>
                <a href="persons" class="w3-bar-item w3-button">Attribution des rôles</a>
            </div>
        </div>

        <a class="w3-bar-item w3-button w3-hide-small w3-hover-white" onclick="document.getElementById('id01').style.display='block'" style="cursor: pointer;">Se connecter</a>

        <body>

        <div id="id01" class="modal">



            <!--<form action="/login" method="post">

                <input type="text" name="username" placeholder="Username" required>

                <input type="password" name="password" placeholder="Password" required>

                <input type="submit">

            </form> -->

            <form class="modal-content animate" action="/login" method="post"> <!--action="/action_page.php" -->





                <div class="imgcontainer">

                                                <span onclick="document.getElementById('id01').style.display='none'"

                                                      class="close">&times;</span>


                    <label for="uname"><b>Utilisateur</b></label>

                    <input id="uname" type="text" class="form-control" placeholder="Insert your username"

                           name="username"

                           required/>


                    <label for="psw"><b>Mot de passe</b></label>

                    <input id="psw" type="password" clas="form-control" placeholder="Mot de passe"

                           name="psw" required/>



                    <div style="text-align: center">

                        <button type="submit" class="btn">Connexion</button>

                        <a href="personForm" class="btn">Créer un compte</a>

                        <br/>

                        <br/>

                        <label>

                            <input type="checkbox" checked="checked" name="remember">Se

                            souvenir

                            de moi

                        </label>

                        <br/>

                        <br/>

                    </div>



                    <!--

                    <img src="../images/logo.png" width="100px" height="90%"

                         alt="Avatar"

                         class="avatar"

                         style="text-align: center"> -->







                    <div style="background-color:#f1f1f1;padding: 16px; vertical-align: center">

                        <button type="button"

                                onclick="document.getElementById('id01').style.display='none'"

                                class="btn">Annuler

                        </button>

                        <span class="psw"><a href="#">Mot de passe oublié?</a></span>

                    </div>

                </div>

            </form>

        </div>

        </body>



        <script>

            // Get the modal

            var modal = document.getElementById('id01');



            // When the user clicks anywhere outside of the modal, close it

            window.onclick = function (event) {

                if (event.target === modal) {

                    modal.style.display = "none";

                }

            }

        </script>

        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>

    </div>
    <div style="background: #000;"><br></div>
</div>
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="about" class="w3-bar-item w3-button">Accueil</a>
        <a href="dogs" class="w3-bar-item w3-button">Adopter</a>
        <a href="formulaireFA" class="w3-bar-item w3-button">Devenir FA</a>
        <a href="don" class="w3-bar-item w3-button">Don</a>
        <a href="livredor" class="w3-bar-item w3-button">Album</a>
        <a href="partenaires" class="w3-bar-item w3-button">Partenaires</a>
        <a href="album" class="w3-bar-item w3-button">Truffes dans les étoiles</a>
        <a href="shop" class="w3-bar-item w3-button">Boutique</a>
        <a href="contact" class="w3-bar-item w3-button">Contact</a>
        <a href="#" class="w3-bar-item w3-button">Search</a>
    </div>
</div>


    <!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity" style="text-align: center; background-color:bisque">
        <img src="../images/layout.png" alt="truffes" style="width:70%;min-height:200px;max-height:700px; margin-top: 100px; ">
        <br><br>
    </div>

</header>
<body id="myPage"  style="overflow: auto;">
<h1 style="text-align: center;margin-top: 80px;"><strong>{{title}}</strong></h1>
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>

</body>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">

    <a class="w3-button w3-large" style="background-color: royalblue" href="https://www.facebook.com/groups/unetruffeetdespattes/" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large" style="background-color: #46b8da" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-hide-small" style="background-color: #337ab7" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
   <br><br><br>
    <div><p>Posted by: TruffSA</p>
        <p><i class="fa fa-map-marker"></i><span>   2 rue de Crec&apos;h reut, 22 610 Pleubian</span></p>
    <p><i class="fa fa-envelope-o"></i><span>  <a href="mailto:nicolas.solioz@bluewin.ch">info@truffespattes.ch</a></span></p>
        <p><i class="fa fa-mobile-phone"></i><span>   06.59.02.07.16</span></p></div>



    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>


<script>
    // Script for side navigation
    function w3_open() {
        var x = document.getElementById("mySidebar");
        x.style.width = "300px";
        x.style.paddingTop = "10%";
        x.style.display = "block";
    }

    // Close side navigation
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
