
<div class="container">

    <div class="col-sm-12">

            <div class="row">

                <div style="text-align: center;">

                    <a href="/vets">Retourner à la liste des vétérinaires</a>

                </div>
            </div>
    </div>
</div>