<section>
    <div class="container" style="text-align: center;">
        <div class="col-md-12">
            <br><br><h2 style="background-color: lavender"> Weekend de Pâques 2017</h2>
            <h4 style="text-align: justify;">
                Escapade à la mer pour une rencontre de truffes.

                Une truffe et des pattes" a organisé une rencontre pour tous les amoureux des truffes à l'occasion de sa première Assemblée Générale.

                De nombreuses personnes ont partagé ce joli moment avec leurs loulous.

                La rencontre a lieu à Pleubian (22 610) près du magnifique site du Sillon de Talbert lors du week-end de Pâques.</h4>



            <br><br>

            <h3><b>PREMIER JOUR</b></h3>

            <h4><a title="Premier jour dedans" href="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-dedans.jpg"><img width="676" height="470" alt="Premier jour dedans" src="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-dedans.jpg"></a></h4>

            <h4><a title="Premier jour mer" href="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-mer.jpg"><img width="890" height="470" alt="Premier jour mer" src="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-mer.jpg"></a></h4>


            <br><br>

            <h3><b>DEUXIEME JOUR</b></h3>

            <p><a title="Deuxieme jour dedans" href="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dedans.jpg"><img width="546" height="470" alt="Deuxieme jour dedans" src="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dedans.jpg"></a></p>

            <p><a title="Deuxieme jour dehors" href="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dehors.jpg"><img width="606" height="470" alt="Deuxieme jour dehors" src="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dehors.jpg"></a></p>

            <p><a title="Deuxieme jour la mer" href="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-la-mer.jpg"><img width="860" height="470" alt="Deuxieme jour la mer" src="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-la-mer.jpg"></a></p>

            <p><a title="Photo de groupe" href="http://truffeetpattes.e-monsite.com/medias/images/photo-de-groupe.jpg"><img width="330" height="120" alt="Photo de groupe" src="http://truffeetpattes.e-monsite.com/medias/images/photo-de-groupe.jpg"></a></p>



            <br><br>

            <h3><b>LES SAUVETAGES 2016</b></h3>

            <p><a title="Sauvetage 2016" href="http://truffeetpattes.e-monsite.com/medias/images/sauvetage-2016.jpg?fx=r_1200_800"><img width="566" height="470" alt="Sauvetage 2016" src="http://truffeetpattes.e-monsite.com/medias/images/sauvetage-2016.jpg"></a></p>

        </div></div></section><br><br><br>