<section>
    <div class="container">
        <div class="col-md-12">

                            <p>WEEK-END DE PAQUES 2017<br>
Escapade à la mer pour une rencontre de truffes.</p>

                            <p>Une truffe et des pattes" a organisé une rencontre pour tous les amoureux des truffes à l'occasion de sa première Assemblée Générale.</p>

                            <p>De nombreuses personnes ont partagé ce joli moment avec leurs loulous.</p>

                            <p>La rencontre a lieu à Pleubian (22 610) près du magnifique site du Sillon de Talbert lors du week-end de Pâques.</p>





                            <h2>Premier jour</h2>

                            <p><a title="Premier jour dedans" href="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-dedans.jpg"><img width="900" height="625" alt="Premier jour dedans" src="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-dedans.jpg"></a></p>

                            <p><a title="Premier jour mer" href="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-mer.jpg"><img width="900" height="475" alt="Premier jour mer" src="http://truffeetpattes.e-monsite.com/medias/images/premier-jour-mer.jpg"></a></p>




                            <h2>Deuxième jour</h2>

                            <p><a title="Deuxieme jour dedans" href="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dedans.jpg"><img width="900" height="774" alt="Deuxieme jour dedans" src="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dedans.jpg"></a></p>

                            <p><a title="Deuxieme jour dehors" href="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dehors.jpg"><img width="900" height="697" alt="Deuxieme jour dehors" src="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-dehors.jpg"></a></p>

                            <p><a title="Deuxieme jour la mer" href="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-la-mer.jpg"><img width="900" height="491" alt="Deuxieme jour la mer" src="http://truffeetpattes.e-monsite.com/medias/images/deuxieme-jour-la-mer.jpg"></a></p>

                            <p><a title="Photo de groupe" href="http://truffeetpattes.e-monsite.com/medias/images/photo-de-groupe.jpg"><img width="600" height="215" alt="Photo de groupe" src="http://truffeetpattes.e-monsite.com/medias/images/photo-de-groupe.jpg"></a></p>





                            <h2>Les sauvetages 2016</h2>

                            <p><a title="Sauvetage 2016" href="http://truffeetpattes.e-monsite.com/medias/images/sauvetage-2016.jpg?fx=r_1200_800"><img width="1920" height="1592" alt="Sauvetage 2016" src="http://truffeetpattes.e-monsite.com/medias/images/sauvetage-2016.jpg"></a></p>

        </div></div></section>