<div class="container">
    <div class="main_about_area">
        <p>Vous avez bien été déconnecté</p>
    </div>
</div>

<!-- End of col-sm-12-->

<!-- End of row-->
<!-- End of Container-->
<!-- End of about Section-->