<section style="margin-top: 70px;">
    <div class="container">
    <div class="row">
            <div class="col-md-4">
            <p style="text-align: center;"><img width="253" height="253" alt="Logo ha" src="http://truffeetpattes.e-monsite.com/medias/images/logo-ha.png"></p>
            </div>
        <div class="col-md-4">
            <p><a title="Truffe mai 2019" ><img width="270" height="270" alt="Truffe mai 2019" src="http://truffeetpattes.e-monsite.com/medias/images/truffe-mai-2019.png?fx=r_300_300"></a><br>
        </div>
        <div class="col-md-4">
            <p style="text-align: center;"><img width="570" height="393" alt="Affiche hope pet food" src="http://truffeetpattes.e-monsite.com/medias/images/affiche-hope-pet-food.jpg"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img width="369" height="212" class="img-center img-rounded" alt="Capture d e cran 2015 12 30 17 36 12" src="http://truffeetpattes.e-monsite.com/medias/images/capture-d-e-cran-2015-12-30-17.36.12.png?fx=r_400_242">


        </div>
        <div class="col-md-8">
            <img class="img-center" style="width: 450px; height: 220px;" alt="Capture d e cran 2015 12 30 17 49 42" src="http://truffeetpattes.e-monsite.com/medias/images/capture-d-e-cran-2015-12-30-17.49.42.png?fx=r_400_242">

        </div>

    </div>
</div>
</section>

