
<!-- End of header-->
<section class="aboutus margin-top-120" id="aboutus">
    <div class="main" id="main-area">
    <div class="container">
        <div class="row-fluid">

            <div class="span12 content" id="content-area">




                <div class="content-wrapper">



                    <div class="view view-pages" id="view-page" data-category="la-boutique-des-truffes">


                        <div class="rows clearfix" id="rows-5bb86164de0c513507ec1c52" data-current-page="1" data-total-pages="1">

                            <div class="row-container page_1">
                                <div class="row-content">
                                    <div class="row">



                                        <div class="column self-stretch" style="width:100%">
                                            <div class="column-content">
                                                <div class="clearfix">
                                                    <p style="text-align: center;"><strong><span style="color:#800080;">Pour commander : </span></strong></p>

                                                    <p style="text-align: center;"><strong><span style="color:#800080;">envoyez un mail à </span><span style="color:#FF0000;">unetruffeetdespattescontact@gmail.com</span><span style="color:#800080;"></span></strong></p>

                                                    <p style="text-align: center;"><span style="color:#800080;"><strong>Frais de livraison inclus dans les prix</strong></span></p>

                                                    <p style="text-align: center;"><a title="Mug" href="http://truffeetpattes.e-monsite.com/medias/images/mug-1.jpg"><img width="300" height="167" class="img-center" alt="Mug" src="http://truffeetpattes.e-monsite.com/medias/images/mug-1.jpg?fx=r_300_378"></a></p>

                                                    <p style="text-align: center;">&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br><br><br>

                            <div class="row-container page_1">
                                <div class="row-content">
                                    <h2 class="row-title" style="text-align: center;">
                                        Porte-clés 5 euros pièce - 12 euros les 3                    </h2>
                                    <div class="row">



                                        <div class="column self-stretch" style="width:100%">
                                            <div class="column-content">
                                                <div class="clearfix">
                                                    <p style="text-align: center;"><a title="Porte cles 5 euros 12 euros les 3" href="http://truffeetpattes.e-monsite.com/medias/images/porte-cles-5-euros-12-euros-les-3.jpg"><img width="299" height="253" class="img-center" alt="Porte cles 5 euros 12 euros les 3" src="http://truffeetpattes.e-monsite.com/medias/images/porte-cles-5-euros-12-euros-les-3.jpg?fx=r_300_253"></a></p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

<br><br><br>

                            <div class="row-container page_1">
                                <div class="row-content">
                                    <h2 class="row-title" style="text-align: center;">
                                        Petits magnets 1 = 3 euros - 3 = 7 euros                    </h2>
                                    <div class="row">



                                        <div class="column self-stretch" style="text-align: center;">
                                            <div class="column-content">
                                                <div class="text-center" data-widget="image" style="text-align: center;">
                                                    <a title="Magnets 1" href="http://truffeetpattes.e-monsite.com/medias/images/magnets-1.jpg" >
                                                        <img  width="225" height="300" alt="Magnets 1" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-1.jpg?fx=r_225_300">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

<br>


                                        <div class="column self-stretch" style="text-align: center;">
                                            <div class="column-content">
                                                <div class="text-center" data-widget="image" style="text-align: center;">
                                                    <a title="Magnets 2" href="http://truffeetpattes.e-monsite.com/medias/images/magnets-2.jpg">
                                                        <img width="225" height="300" alt="Magnets 2" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-2.jpg?fx=r_225_300">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                                        <br>

                                        <div class="column self-stretch" style="text-align: center;">
                                            <div class="column-content">
                                                <div class="text-center" data-widget="image" style="text-align: center;">
                                                    <a title="Magnets 3" href="http://truffeetpattes.e-monsite.com/medias/images/magnets-3.jpg">
                                                        <img width="225" height="300" alt="Magnets 3" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-3.jpg?fx=r_225_300">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <br>


                                        <div class="column self-stretch" style="text-align: center;">
                                            <div class="column-content">
                                                <div class="text-center" data-widget="image" style="text-align: center;">
                                                    <a title="Magnets 4" href="http://truffeetpattes.e-monsite.com/medias/images/magnets-4.jpg">
                                                        <img width="225" height="300" alt="Magnets 4" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-4.jpg?fx=r_225_300">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br><br><br>

                            <div class="row-container page_1">
                                <div class="row-content">
                                    <h2 class="row-title" style="text-align: center;">
                                        Les tricots d'Emilie 10 euros                    </h2>
                                    <div class="row">



                                        <div class="column self-stretch" style="width:100%">
                                            <div class="column-content">
                                                <div class="clearfix">
                                                    <p style="text-align: center;"><img width="600" height="416" alt="Echarpes" src="http://truffeetpattes.e-monsite.com/medias/images/echarpes-10-euros-1.jpg"></p>

                                                    <p style="text-align: center;"><img width="600" height="201" alt="Manteaux 1" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-1-site-1.jpg"></p>

                                                    <p style="text-align: center;"><img width="600" height="546" alt="Manteaux 10 euros 4" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-4.jpg"></p>

                                                    <p style="text-align: center;"><img width="600" height="285" alt="Manteaux 2" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-1-site.jpg"></p>

                                                    <p style="text-align: center;"><img width="600" height="230" alt="Manteaux 3" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-3-site.jpg"></p>

                                                    <p style="text-align: center;">&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br><br><br>

                            <div class="row-container page_1">
                                <div class="row-content">
                                    <h2 class="row-title" style="text-align: center;">
                                        Les Grrr Grrr de Delphine                    </h2>
                                    <div class="row">



                                        <div class="column self-stretch" style="width:100%">
                                            <div class="column-content">
                                                <div data-widget="image" style="text-align: center;">
                                                    <img alt="Les grrr grrr de delphine" src="http://truffeetpattes.e-monsite.com/medias/images/les-grrr-grrr-de-delphine.jpg">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br><br><br>

                            <div class="row-container page_1">
                                <div class="row-content">
                                    <h2 class="row-title" style="text-align: center;">
                                        Le chalet de Noël                     </h2>
                                    <div class="row">



                                        <div class="column self-stretch" style="width:100%">
                                            <div class="column-content">
                                                <div class="clearfix">
                                                    <p style="text-align: center;"><strong><span style="color:#800080;">Moulage "Père Noël" = 12 euros</span></strong></p>

                                                    <p style="text-align: center;"><a title="Moulage 12 euros" href="http://truffeetpattes.e-monsite.com/medias/images/moulage-12-euros.jpg"><img width="299" height="378" class="img-center" alt="Moulage 12 euros" src="http://truffeetpattes.e-monsite.com/medias/images/moulage-12-euros.jpg?fx=r_300_378"></a></p>

                                                    <p>&nbsp;</p>

                                                    <p>&nbsp;</p>

                                                    <p>&nbsp;</p>

                                                    <p>&nbsp;</p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>
</div>
</section>