
<!-- End of header-->
<section >
    <div class="container" style="text-align: center;">
        <div class="col-md-12" style="text-align: center;">



            <h2>Pour commander :</h2>

            <h4 style="text-align: center;">Envoyez un mail à<span style="color:#FF0000;">unetruffeetdespattescontact@gmail.com</span></h4>

            <h4 style="text-align: center;">Frais de livraison inclus dans les prix</h4>

            <h4 style="text-align: center;"><a title="Mug" href="http://truffeetpattes.e-monsite.com/medias/images/mug-1.jpg"><img width="300" height="167" class="img-center" alt="Mug" src="http://truffeetpattes.e-monsite.com/medias/images/mug-1.jpg?fx=r_300_378"></a></h4>





            <br><br><br>


            <h2>
                Porte-clés 5 euros pièce - 12 euros les 3                    </h2>

            <h4 style="text-align: center;"><a title="Porte cles 5 euros 12 euros les 3" href="http://truffeetpattes.e-monsite.com/medias/images/porte-cles-5-euros-12-euros-les-3.jpg"><img width="299" height="253" class="img-center" alt="Porte cles 5 euros 12 euros les 3" src="http://truffeetpattes.e-monsite.com/medias/images/porte-cles-5-euros-12-euros-les-3.jpg?fx=r_300_253"></a></h4>




            <br><br><br>


            <h2>  Petits magnets 1 = 3 euros - 3 = 7 euros                    </h2>

            <a href="http://truffeetpattes.e-monsite.com/medias/images/magnets-1.jpg" >
                <img  width="225" height="300" alt="Magnets 1" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-1.jpg?fx=r_225_300">
            </a>







            <a href="http://truffeetpattes.e-monsite.com/medias/images/magnets-2.jpg">
                <img width="225" height="300" alt="Magnets 2" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-2.jpg?fx=r_225_300">
            </a>





            <a title="Magnets 3" href="http://truffeetpattes.e-monsite.com/medias/images/magnets-3.jpg">
                <img width="225" height="300" alt="Magnets 3" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-3.jpg?fx=r_225_300">
            </a>




            <a title="Magnets 4" href="http://truffeetpattes.e-monsite.com/medias/images/magnets-4.jpg">
                <img width="225" height="300" alt="Magnets 4" src="http://truffeetpattes.e-monsite.com/medias/images/magnets-4.jpg?fx=r_225_300">
            </a>

            <br><br><br>


            <h2>  Les tricots d'Emilie 10 euros                    </h2>

            <h4 style="text-align: center;"><img width="600" height="416" alt="Echarpes" src="http://truffeetpattes.e-monsite.com/medias/images/echarpes-10-euros-1.jpg"></h4>

            <h4 style="text-align: center;"><img width="600" height="201" alt="Manteaux 1" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-1-site-1.jpg"></h4>

            <h4 style="text-align: center;"><img width="600" height="546" alt="Manteaux 10 euros 4" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-4.jpg"></h4>

            <h4 style="text-align: center;"><img width="600" height="285" alt="Manteaux 2" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-1-site.jpg"></h4>

            <h4 style="text-align: center;"><img width="600" height="230" alt="Manteaux 3" src="http://truffeetpattes.e-monsite.com/medias/images/manteaux-10-euros-3-site.jpg"></h4>





            <br><br><br>


            <h2>
                Les Grrr Grrr de Delphine                    </h2>

            <img alt="Les grrr grrr de delphine" src="http://truffeetpattes.e-monsite.com/medias/images/les-grrr-grrr-de-delphine.jpg">


            <br><br><br>

            <h2>
                Le chalet de Noël                     </h2>

            <h4 style="text-align: center;"><strong>Moulage "Père Noël" = 12 euros</strong></h4>

            <h4 style="text-align: center;"><a title="Moulage 12 euros" href="http://truffeetpattes.e-monsite.com/medias/images/moulage-12-euros.jpg"><img width="299" height="378" class="img-center" alt="Moulage 12 euros" src="http://truffeetpattes.e-monsite.com/medias/images/moulage-12-euros.jpg?fx=r_300_378"></a></h4>

        </div></div></section>